{% extends 'back/base.html' %}
<!-- {% load static %}  -->
{% block content %}
<div class="col-md-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{title}}</h4>
      <form class="forms-sample" method="POST">
        {% csrf_token %}
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Menu</label>
          <div class="col-sm-9">{{form.menu}}</div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Harga</label>
          <div class="col-sm-9">{{form.harga}}</div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Deskripsi</label>
          <div class="col-sm-9">{{form.deskripsi}}</div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Thumbnail</label>
          <div class="col-sm-9">{{form.thumbnail}}</div>
        </div>

        <button type="submit" class="btn btn-primary me-2">Submit</button>
      </form>
      <script>
        CKEDITOR.replace("id");
      </script>
    </div>
  </div>
</div>
{% endblock content %}
